annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
argcomplete==3.6.3
bcrypt==5.0.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.3
colorama==0.4.6
dasbus==1.7
detect-installer==0.1.0
distro==1.9.0
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.136.3
fastapi-cli==0.0.24
fastapi-cloud-cli==0.18.0
fastar==0.11.0
file-magic==0.4.0
filelock==3.29.0
future==1.0.0
gevent==26.5.0
greenlet==3.5.1
h11==0.16.0
html2text==2025.4.15
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.11
iso639==0.1.4
Jinja2==3.1.6
langtable==0.0.71
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
olefile==0.47
packaging==25.0
pexpect==4.9.0
pid==3.0.4
pillow==12.2.0
productmd==1.50
psutil==7.2.2
ptyprocess==0.7.0
pycparser==2.22
pydantic==2.13.4
pydantic-extra-types==2.11.1
pydantic-settings==2.14.1
pydantic_core==2.46.4
pyenchant==3.3.0
Pygments==2.20.0
pyinotify==0.9.6
PyJWT==2.13.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.29
python-pam==2.0.2
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
RapidFuzz==3.14.3
regex==2026.5.9
requests==2.33.1
requests-file==3.0.0
requests-ftp==0.3.1
rich==15.0.0
rich-toolkit==0.19.10
rignore==0.7.6
sentry-sdk==2.61.0
shellingham==1.5.4
simpleline==1.9.0
six==1.17.0
SQLAlchemy==2.0.50
starlette==1.2.0
tldextract==5.3.1
typer==0.26.2
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.48.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==16.0
zope.event==6.2
zope.interface==8.5
